/*
Author:     Scott Snider
Date:       05/22/2020
*/
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: deepskyblue;
    color: black;
}

body {
    margin: 10px 25px 10px 25px;
    padding-left: 50px;
    
}

header {
    color: deepskyblue;
    background-color: black;
    text-decoration: wavy;
}

h1, h3 {
    color:deepskyblue;
    background-color: black;
}
